{% extends "memebot/scanner/rss/base.html" %}
{% load rss_filters %}
{% spaceless %}
{% block content %}
<div><object width="640" height="480"><param name="movie" value="http://www.youtube.com/v/{{ link.attr.video_id }}?version=3&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/{{ link.attr.video_id }}?version=3&amp;hl=en_US" type="application/x-shockwave-flash" width="640" height="480" allowscriptaccess="always" allowfullscreen="true"></embed></object></div>
{% if link.attr.uploader %}<p>{{ link.attr.uploader }}</p>{% endif %}
{% if link.attr.summary %}<p>{{ link.attr.summary|summarize }}</p>{% endif %}
<ul>
{% if link.attr.category %}<li>Category: {{ link.attr.category }}</li>{% endif %}
{% if link.attr.views %}<li>Views: {{ link.attr.views }}</li>{% endif %}
{% for extra in link.attr.extras %}<li>{{ extra }}</li>{% endfor %}
</ul>
{% endblock %}
{% endspaceless %}
