appdirs==1.4.3
appnope==0.1.0
beautifulsoup4==4.5.3
bleach==2.0.0
chardet==3.0.2
decorator==4.0.11
Django==1.10.7
django-contrib-comments==1.8.0
django-crispy-forms==1.6.1
django-debug-toolbar==1.7
django-el-pagination==3.0.1
django-extensions==1.7.8
django-filter==1.0.2
djangorestframework==3.6.2
filebrowser-safe==0.4.7
future==0.16.0
grappelli-safe==0.4.6
html5lib==0.999999999
ipython==6.0.0
ipython-genutils==0.2.0
jedi==0.10.2
lxml==3.7.3
Markdown==2.6.8
Mezzanine==4.2.3
oauthlib==2.0.2
olefile==0.44
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.1.0
prompt-toolkit==1.0.14
psycopg2==2.7.1
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.2.0
python-memcached==1.58
pytz==2017.2
requests==2.13.0
requests-oauthlib==0.8.0
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.2.3
traitlets==4.3.2
tzlocal==1.4
wcwidth==0.1.7
webencodings==0.5.1
