{% load custom_filters %}

{% extends "base.html" %}

{% block title %}URL Index{% endblock %}

{% block sidebar %}

{% include "sidebar.html" %}

{% endblock %}

{% block content %}

<h3>Memes posted by {{ author.name|escape }}</h3>

<table border="0" cellspacing="0" cellpadding="0">
  {% for url in urls %}
    <tr>
      <td nowrap>{{ url.datestamp }}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td nowrap>{{ url.url|safelink:65 }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}

{% block sitenav %}
<a href="/">home</a> &gt; <a href="/author/">authors</a> &gt; <a href="#">{{ author.name|escape }}</a>
{% endblock %}
