{% extends "base.html" %}

{% block title %}memecheckr{% endblock %}

{% block sidebar %}
  {% include "sidebar.html" %}
{% endblock %}


{% block content %}

<script type="text/javascript">
var defaultValue = '{{ url }}';
function clickClear(thisField, defaultText) {
	if (thisField.value == defaultText) {
		thisField.value = '';
	}
}
</script>

{% if response %}
{{ response }}
<br /><br />
{% endif %}

  <form method="GET" action="/memecheck/result/">
    <input type="text" name="url" value="{{ url }}" onclick="clickClear(this, defaultValue);" size="60" />
    &nbsp;&nbsp;&nbsp;
    <input type="submit" name="check" value="check" class="search" onmouseover="this.className='search searchHover'" onmouseout="this.className='search'" />
    {% if clean %}
      <input type="hidden" name="clean" value="1" />
    {% endif %}
  </form>

{% endblock %}

{% block sitenav %}
  <a href="/">home</a> &gt; <a href="/memecheck/">memecheck</a>{% if response %} &gt; result{% endif %}
{% endblock %}
