{% extends "base.html" %}
{% block title %}link {{ link.publish_id }}{% endblock %}
{% block content %}
<div id="link-detail">
 <dt>ID</dt>
 <dd>{{ link.publish_id }}</dd>
 <dt>User</dt>
 <dd>{{ link.user.username }}</dd>
 <dt>Source</dt>
 <dd>{{ link.source.get_type_display }} {{ link.source.name }}</dd>
 <hr />
 <dt>Original URL</dt>
 <dd>{{ link.url }}</dd>
 <dt>Normalized URL</dt>
 <dd>{{ link.normalized }}</dd>
 <dt>Repost Count</dt>
 <dd>{{ link.reposts }}</dd>
 <hr />
 <dt>Resolved URL</dt>
 <dd>{{ link.resolved_url }}</dd>
 <dt>Content Type</dt>
 <dd>{{ link.content_type }}</dd>
 <dt>Content</dt>
 <dd>{% if link.content %}<a href="{% url memebot-view-link-content link.publish_id %}">link</a>{% else %}n/a{% endif %}</dd>
 <dt>Title</dt>
 <dd>{{ link.title }}</dd>
 <dt>Published</dt>
 <dd>{{ link.published|date:"Y-m-d H:i:s" }}</dd>
 <dt>Scanner</dt>
 <dd>{{ link.scanner }}</dd>
 <dt>Attributes</dt>
 <dd>{{ link.attr_storage }}</dd>
 <hr />
 <dt>Created</dt>
 <dd>{{ link.created|date:"Y-m-d H:i:s" }}</dd>
 <dt>Modified</dt>
 <dd>{{ link.modified|date:"Y-m-d H:i:s" }}</dd>
</div>
{% endblock %}
