<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{% block title %}{{ site_domain }}{% endblock %} - {{ site_name }}</title>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}external/css/redmond/jquery-ui.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css" />
  {% ifnotequal site_style "main" %}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/{{ site_style }}.css" />
  {% endifnotequal %}
  {% block styles %}{% endblock %}
  <script type="text/javascript" src="{{ MEDIA_URL }}external/js/jquery.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}external/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}external/js/jquery.metadata.js"></script>
  {% block scripts %}{% endblock %}
  {% block headers %}{% endblock %}
 </head>
 <body>
  <div id="main">
   <div id="banner">{% include "base/banner.html" %}</div>
   <div id="menu">{% include "base/menu.html" %}</div>
   <div id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
   <div id="messages">{% include "base/messages.html" %}</div>
   <div id="helpers">{% block helpers %}{% endblock %}</div>
   <div id="content">{% block content %}{% endblock %}</div>
  </div>
 </body>
</html>
